<footer class="py-5 mt-5 text-primary bg-lightColor">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15"/>
                </svg>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.922 3.5 3.5 0 0 0-.922 1.417C.222 3.269.088 3.85.048 4.703.01 5.556 0 5.83 0 8c0 2.17.01 2.443.048 3.297.04.852.174 1.433.372 1.942.199.509.46.948.923 1.417.47.47.909.724 1.418.922.51.199 1.09.333 1.942.372.853.04 1.127.049 3.298.049s2.444-.01 3.297-.048c.852-.04 1.433-.174 1.942-.372.509-.199.948-.46 1.417-.923.47-.47.724-.909.922-1.418.199-.51.333-1.09.372-1.942.04-.853.049-1.127.049-3.298s-.01-2.444-.048-3.297c-.04-.852-.174-1.433-.372-1.942a3.5 3.5 0 0 0-.922-1.417A3.9 3.9 0 0 0 13.24.42C12.73.222 12.149.088 11.297.048 10.444.01 10.17 0 8 0Zm0 1.459c2.114 0 2.367.009 3.201.046.774.036 1.195.166 1.474.276.371.143.636.315.915.594.278.278.45.544.594.915.11.279.24.7.276 1.474.037.834.046 1.087.046 3.201s-.009 2.367-.046 3.201c-.036.774-.166 1.195-.276 1.474-.143.371-.315.636-.594.915-.278.278-.544.45-.915.594-.279.11-.7.24-1.474.276-.834.037-1.087.046-3.201.046s-2.367-.009-3.201-.046c-.774-.036-1.195-.166-1.474-.276a3.1 3.1 0 0 1-.915-.594 3.1 3.1 0 0 1-.594-.915c-.11-.279-.24-.7-.276-1.474C1.468 10.367 1.46 10.114 1.46 8s.008-2.367.046-3.201c.036-.774.166-1.195.276-1.474.143-.371.315-.636.594-.915.278-.278.544-.45.915-.594.279-.11.7-.24 1.474-.276.834-.037 1.087-.046 3.201-.046Z"/>
                    <path d="M8 3.889a4.111 4.111 0 1 0 0 8.222 4.111 4.111 0 0 0 0-8.222Zm0 6.762a2.651 2.651 0 1 1 0-5.302 2.651 2.651 0 0 1 0 5.302Zm5.287-6.926a.96.96 0 1 1-1.92 0 .96.96 0 0 1 1.92 0Z"/>
                </svg>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM6.639 8.34H5.532V6.68h1.107V5.734c0-1.196.568-2.44 2.279-2.44h1.209v1.66H9.504c-.201 0-.484.102-.484.537v1.19h1.724l-.12 1.66H9.02v4.415H6.639V8.34Z"/>
                </svg>
            </a>
        </li>
    </ul>
    <a class="text-center text-body-secondary" href="/privacy">
        <p>Click Here for our Privacy Policy</p>
    </a>
    <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
</footer>
</main>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>