<main class="col-md-9 ms-sm-auto col-lg-10 px-md-0 px-0 mb-0 pt-4 mt-5">

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Browse Pets </h1>
          <p class="lead text-body-secondary">Browse our amazing selection of cats and dogs </p>

        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-lightColor">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="col">
            <div class="card shadow-sm">
                <img class="img-fluid" src="https://static.vecteezy.com/system/resources/thumbnails/022/963/918/small_2x/ai-generative-cute-cat-isolated-on-solid-background-photo.jpg"  width="100%" height="225%">
              <div class="card-body">
                <p class="card-text"><b>Breed type: </b> Siamese <br>
                    <b>Age:</b> 2 years<br>
                    <b>Gender: </b>Female<br>
                    <b>Social:</b> Very social, loves to be around people and other cats.<br>
                   <b> Good with children:</b> Yes</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-outline-dark">interested</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
                <img class="img-fluid" src="https://imgix.bustle.com/fatherly/2019/01/scooby.jpg?w=1200&h=675&fit=crop&crop=faces&fm=jpg"  width="100%" height="225%">
              <div class="card-body">
                <p class="card-text"><b>Breed type: </b> German Shepherd <br>
                    <b>Age:</b> 8 years<br>
                    <b>Gender: </b>male<br>
                    <b>Social:</b> Very scared, gets creeped out easily.<br>
                   <b> Good with children:</b> Yes</p>                            <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-outline-dark">interested</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
  

          <div class="col">
            <div class="card shadow-sm">
                <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQtP7hHM9hB39boL1zs9Dm-AWn7QkcSCPUAA&s"  width="100%" height="225%">
              <div class="card-body">
                <p class="card-text"><b>Breed type: </b> Bengal <br>
                    <b>Age:</b> 4 years<br>
                    <b>Gender: </b>male<br>
                    <b>Social:</b> Very social, loves to create trouble and make a mess<br>
                   <b> Good with children:</b> No</p>                            <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-outline-dark">interested</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
                <img class="img-fluid" src="https://cdn001.tintin.com/public/tintin/img/news/5683/milou_carre_fond.jpg"  width="100%" height="225%">
              <div class="card-body">
                <p class="card-text"><b>Breed type: </b> Golden Poodle <br>
                    <b>Age:</b> 5 years<br>
                    <b>Gender: </b>Male<br>
                    <b>Social:</b> Very social, very loyal, and very smart.<br>
                   <b> Good with children:</b> Yes</p>                            <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-outline-dark">interested</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
                <img class="img-fluid" src="https://i0.wp.com/www.toonsmag.com/wp-content/uploads/2023/09/photo-output-62.jpeg?fit=662%2C497&ssl=1"  width="100%" height="225%">
              <div class="card-body">
                <p class="card-text"><b>Breed type: </b> Persian <br>
                    <b>Age:</b> 9 years<br>
                    <b>Gender: </b>Female<br>
                    <b>Social:</b> Very social, loves to MEOW all day and is very mysterious<br>
                   <b> Good with children:</b> No</p>                            <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-outline-dark">interested</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
                <img class="img-fluid" src="https://www.syfy.com/sites/syfy/files/styles/amp_featured_image/public/2019/11/courage-the-cowardly-dog.jpg"  width="100%" height="225%">
              <div class="card-body">
                <p class="card-text"><b>Breed type: </b> Beagle <br>
                    <b>Age:</b> 10 years<br>
                    <b>Gender: </b>Male<br>
                    <b>Social:</b> Terrified, doesn't get along with anything, is afraid of everything.<br>
                   <b> Good with children:</b> No</p>                            <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-outline-dark">interested</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
                <img class="img-fluid" src="https://i.pinimg.com/736x/02/ce/05/02ce05f691deb1973493f8e6745eea05.jpg"  width="100%" height="225%">
              <div class="card-body">
                <p class="card-text"><b>Breed type: </b> Persian<br>
                    <b>Age:</b> 7 years<br>
                    <b>Gender: </b>Female<br>
                    <b>Social:</b> Very social, loves other cats, but loves to chase rats and mice<br>
                   <b> Good with children:</b> No</p>                            <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-outline-dark">interested</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>


        </div>
        </div>
        </div>
