<main class="col-md-9 ms-sm-auto col-lg-10 px-md-0 px-0 mb-0 pt-4 mt-5">
    <div class="px-5 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-lightColor">Save Unlimited Pets!</h1>
        <img class="d-block mx-auto mb-4 img-fluid" src="https://static.vecteezy.com/system/resources/previews/037/749/711/non_2x/ai-generated-dog-and-cat-on-transparent-background-free-png.png" alt="music image">
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">  <h3>
                <p>Name: Tony Awaad</p>
                <p>ID: 40236201</p>
                <p>Email: TonyAwaad04@gmail.com</p>
            </h3></p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Adopt</button>
            </div>
        </div>
    </div>
