<main class="col-md-9 ms-sm-auto col-lg-10 px-md-0 px-0 mb-0 pt-4 mt-5">
    <div class="px-5 py-5 my-5 text-center">
    
        <img class="d-block mx-auto mb-4 img-fluid" src="https://cdn-icons-png.flaticon.com/512/4104/4104800.png" alt="music image">
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">         <p>We are committed to maintaining the accuracy, confidentiality, and security of your personally identifiable information ("Personal Information"). As part of this commitment, our privacy policy governs our actions as they relate to the collection, use and disclosure of Personal Information. Our privacy policy is based upon the values set by the Canadian Standards Association's Model Code for the Protection of Personal Information and Canada's Personal Information Protection and Electronic Documents Act.</p>
        </p>

        </div>
    </div>